- model_class = Program
.page-header
  %h1 番組一覧
  %p 今後放送予定のマジック関連番組をご紹介しています。掲載されていない番組情報をお持ちの方は、アカウント登録の上、「番組情報の投稿」からお寄せ頂ければ幸いです。
  %p
    - @current_tags.each do |tag|
      %span{class: :badge}
        = tag
        = link_to glyph(:remove), programs_path(tag: (@current_tags - [tag]).join(','))
%table.table.table-striped
  = render @programs
