.page-header
  %h1 使い方

%section
  %h2 これは何？
  %p マジックのテレビ番組情報を配信するサービスです。

%section
  %h2 どうやって使うの？
  %p
    %a{href: programs_path}番組一覧
    から、本日以降の番組情報をご覧頂けます。番組をタグで絞り込むことも出来ます。

%section
  %h2 メールで受け取りたい
  %p メールアドレスをご登録頂くと、金曜夜、水曜朝の2回、配信いたします。
  %p 番組情報とともに、関連広告を配信させていただく場合がございます。
  %p メールの配信は、メール末尾のURLからいつでも解除可能です。
  %p お預かりしたメールアドレスをその他の用途に流用することはございません。

%section
  %h2 機能についての意見要望は
  %p
    %a{href:"https://www.facebook.com/pages/Magictv/129782290547256"}Facebook
    上で受け付けております。
